on:
  push:
    paths:
      - 'content/string/**'
      - 'test/string/**'
  pull_request:
    paths:
      - 'content/string/**'
      - 'test/string/**'
  workflow_dispatch:

jobs:
  pdf:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
    name: Test string (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - run: ./test/test.sh string
